---
layout: default
---
<style>
.image { display: inline-block;  width: 100%; 
        aspect-ratio: 1;
        object-fit: cover;
        object-position: top;}
.image > img { border-radius: 15px; }
.original { float: bottom }

.tweet {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* Adds space between columns */
  gap: 20px;
}
.column {
  /* Add styling like padding or background as needed */
  padding: 1rem;
}
</style>

<div class="container">
    <a href="#" onclick="window.history.back()"> &lt; Back</a>

    <div class="tweet">
    <div class="column">

        <div class="image">
            <img src="{{site.baseurl}}{{page.media}}" />
        </div>

    </div>

    <div class="column">
        @moniyum - {{ page.date | date: "%-d %b %Y" }} <br><br>
        {{page.content}}
        <br>
        {% if page.retweets %}{{page.retweets}} 🔀 {%endif%}
        {% if page.favorites %}{{page.favorites}} 💙 {%endif%}
        {% if page.retweets or page.favorites %} --  {%endif%}
        
        {% if page.original_url %}
        <span class="original">
        <a href="{{page.original_url}}">Original tweet</a> {%endif%}
    </span>
    </div>
    </div></div>